<div class="row text-center currency">
  {{#each currency}}
    <div class="col-xs-6 col-md-2 col-lg-1 item"> <!-- TODO : remake with flex -->
      <div class="logo {{name}}"></div>
      {{#if collected}}
        <div class="collected">{{collected}}</div>
      {{/if}}
      <div class="title">{{title}}</div>
    </div>
  {{/each}}
</div>